.container {
  margin: auto;
  padding: 100px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;
  padding: 10px 50px;
  background-color: #e6e6fa;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  font-size: 30px;

  color: #006400;
  border: 2px solid #808080;
  border-radius: 10px;

  transition: box-shadow 250ms linear, transform 250ms linear,
    color 250ms linear;
}

button:not(:last-child) {
  margin-right: 20px;
}

button:disabled {
  color: #4169e1;
  background-color: #a9a9a9;
  box-shadow: -10px -10px 10px 5px rgba(0, 0, 0, 0.2);
  transform: scaleX(0.95);
}

body {
  transition: background-color 250ms linear;
}
